.habilidades{
    display: flex;
    justify-content: center;
    background: var(--bg-color);
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.iconsSkills{
    display: flex;
    flex-wrap: wrap;    
    margin-left: 6rem;
    margin-right: 6rem;
    justify-content: center;
    transition: ease 0.3s;
    
}

.iconsSkills span{
    color: var(--main-color);
    margin: 0 1rem 0 1rem;
    transition: 0.3s ease-in;
    font-size: 9rem;      
}

.iconsSkills span:hover{
    transform: scale(1.3);
}

.titulo{
    margin-top: 2rem;
    margin-bottom: 6rem;
}

.desc{
    display: block;
    text-align: center;
    font-size: 1.7rem;
    margin-top: 3rem;
}   

