.habilidades{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    background: var(--bg-color);
}

.hab h2{
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 6rem;
}

.iconsSkills, .iconsSkills a{
    text-align: center;
    margin: 0 1rem 0 1rem;
    color: var(--main-color);
    font-size: 9rem;    
}

.desc , .desc p{
    text-align: center;
    font-size: 1.7rem;
    margin-top: 3rem;
}   