.habilidades{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    background: var(--bg-color);
}

.hab h2{
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 6rem;
}

.iconsSkills{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: ease 0.3s;
    font-size: 9rem;      
}

.iconsSkills span{
    color: var(--main-color);
    margin: 0 1rem 0 1rem;
    transition: 0.3s ease-in;
}

.iconsSkills span:hover{
    transform: scale(1.3);
}

.desc{
    text-align: center;
    font-size: 1.7rem;
    margin-top: 3rem;
}   

